body {
  font-family: verdana;
  background-color: #fafafa;
}

.search_field {
  width: 220px;
}

.spinner {
  width: 64px;
  height: 64px;
  margin: auto;
  background: url(./images/spinner.gif) no-repeat;
  background-size: 64px 64px;
}

.search-results_item {
    margin: 8px 0 0;
}

.profile_data {
    border-bottom: solid 1px grey;
    text-decoration: none;
}

.profile_data:hover {
    border-bottom-color: green;
}

td {
    width:50%;
}